* {
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 700;
    font-style: normal;
}

body {
    background-color: #eaf0ff;
}

#wrapper {
}

.content-wrapper {
}
.top-bar {
    width: 100%;
    height: 6rem;
    background-color: #00477f;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#logo {
    display: flex;
    align-items: center;
}
#logo-img {
    width: 6rem;
}

#title {
    display: flex;
    align-items: center;
}

#title > a > img {
    width: 11rem;
}

#blank {
    width: 6rem;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div.nav {
    margin-top: 2rem;
}

a.nav-link {
    color: #000;
}

.togo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    text-align: center;
    height: 40px;
    position: relative;
    transform: translateY(0%);
    line-height: 40px;
    color: #ffffff;
    background-color: #00477f;
}

/* #motion {
    animation: motion 0.5s linear 0s infinite alternate;
}
@keyframes motion {
    0% {
        margin-top: 0px;
    }
    100% {
        margin-top: 20px;
    }
} */
