body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
.letter {
    position: relative;
    width: 90%;
    height: 55vh;
    margin: 1rem auto;
    overflow: hidden;
}
.letterimg {
    display: block;
    height: 100%;
    width: 100%;
}
.lettertext {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    padding: 1rem;
    margin: 2rem 0;
    box-sizing: border-box;
    overflow-y: auto;
}

.lettertext::-webkit-scrollbar {
    width: 10px; /* 스크롤바의 너비 */
}

.lettertext::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #00477f; /* 스크롤바의 색상 */

    border-radius: 10px;
}

.lettertext::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, 0.1); /*스크롤바 뒷 배경 색상*/
}
