body {
    margin: 0;
    padding: 0;
    font-family: "Nanum Gothic Coding", monospace;
}

.image-slider {
    position: relative;
    width: 80vw; /* 슬라이더 너비 조정 */
    margin: 0 auto;
    overflow: hidden;
    margin-top: 4rem;
}

.image-slider .slides {
    display: flex;
    transition: transform 0.5s ease;
}

.image-slider .slide {
    min-width: 100%;
}

.image-slider .slide > img {
    width: 80vw;
    height: 60vw;
}

/* 화살표 스타일 */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
}

.prev:hover,
.next:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
